In [1]:
import pandas as pd
df = pd.read_csv('df_final_cp.csv')
df

          DATA_DE_INÍCIO_ATIVIDADE  CNAE_FISCAL_PRINCIPAL  MUNICÍPIO
0                             2023                4712100       3849
1                             2023                4321500       5453
2                             2023                8599604       8877
3                             2023                4617600       9051
4                             2023                8230001       7225
...                            ...                    ...        ...
56520613                      1901                8411600       3473
56520614                      1899                6462000       7107
56520615                      1893                8413200       4123
56520616                      1891                1321900       4675
56520617                      1696                4774100       4733

[56520618 rows x 3 columns]

In [2]:
# ANO1
# CRIANDO A COLUNA 'ANO1' COM O VALOR MAIS ANTIGO (MIN) DE ANO DE ABERTURA DE CNAE_FISCAL_PRINCIPAL POR MUNICÍPIO:
df['ANO1'] = df.groupby('MUNICÍPIO')['DATA_DE_INÍCIO_ATIVIDADE'].transform('min')
df = df.sort_values('ANO1')
df

          DATA_DE_INÍCIO_ATIVIDADE  CNAE_FISCAL_PRINCIPAL  MUNICÍPIO  ANO1
56520617                      1696                4774100       4733  1696
41386830                      2004                2229399       4733  1696
12265719                      2020                1821100       4733  1696
47652885                      1994                5320202       4733  1696
5451152                       2022                4723700       4733  1696
...                            ...                    ...        ...   ...
3158267                       2022                4771701        320  1997
44966890                      1998                8800600        120  1997
7508654                       2021                4712100        120  1997
31069208                      2012                9492800        176  1997
38701124                      2007                9499500        120  1997

[56520618 rows x 4 columns]

In [3]:
# MATURIDADE_CP
# MATURIDADE_MUN
# Criando a variável maturidade para os CNAE_FISCAL_PRINCIPAL:

df['MATURIDADE_CP'] = df['DATA_DE_INÍCIO_ATIVIDADE'] - df['ANO1']

# Agrupar por município e encontrar o maior valor de maturidade em cada grupo para termos a MATURIDADE_MUN

maturidade_mun = df.groupby('MUNICÍPIO')['MATURIDADE_CP'].max()

# Converter a série em DataFrame
df_maior_maturidade = pd.DataFrame({'MUNICÍPIO': maturidade_mun.index,
                                    'MATURIDADE_MUN': maturidade_mun.values})

# Mesclar o DataFrame original com o DataFrame da menor maturidade
df = pd.merge(df, df_maior_maturidade, on='MUNICÍPIO', how='left')
df

,DATA_DE_INÍCIO_ATIVIDADE,CNAE_FISCAL_PRINCIPAL,MUNICÍPIO,ANO1,MATURIDADE_CP,MATURIDADE_MUN
0,1696,4774100,4733,1696,0,327
1,2004,2229399,4733,1696,308,327
2,2020,1821100,4733,1696,324,327
3,1994,5320202,4733,1696,298,327
4,2022,4723700,4733,1696,326,327
...,...,...,...,...,...,...
56520613,2022,4771701,320,1997,25,26
56520614,1998,8800600,120,1997,1,26
56520615,2021,4712100,120,1997,24,26
56520616,2012,9492800,176,1997,15,26
56520617,2007,9499500,120,1997,10,26

In [4]:
# Solicite ao usuário que forneça o valor do MUNICÍPIO
municipio_informado = input("Informe o código do MUNICÍPIO: ")

# Filtrar as linhas com o MUNICÍPIO '6001' e pegar a relação de CNAE_FISCAL_PRINCIPAL
cnaes_municipio_informado = df[df['MUNICÍPIO'] == int(municipio_informado)]['CNAE_FISCAL_PRINCIPAL']

# Verificar se existem registros para o código do MUNICÍPIO informado
if not cnaes_municipio_informado.empty:
    # Filtrar as linhas com a mesma MATURIDADE_MUN do código do MUNICÍPIO informado
    maturidade_municipio = df[df['MUNICÍPIO'] == int(municipio_informado)]['MATURIDADE_MUN']
    cnaes_mesma_maturidade = df[df['MATURIDADE_MUN'] == maturidade_municipio.iloc[0]]['CNAE_FISCAL_PRINCIPAL']

    # Subtrair 'cnaes_mesma_maturidade' de 'cnaes_municipio_informado' para encontrar os inexistentes
    cnaes_inexistentes = cnaes_mesma_maturidade[~cnaes_mesma_maturidade.isin(cnaes_municipio_informado)].unique()

    # Exibir os resultados
    # print("CNAE_FISCAL_PRINCIPAL do MUNICÍPIO '6001':")
    # print(cnaes_municipio_informado)

    # print("\nCNAE_FISCAL_PRINCIPAL com a mesma MATURIDADE_MUN:")
    # print(cnaes_mesma_maturidade)

    print("\nCNAE_FISCAL_PRINCIPAL inexistentes:")
    print(cnaes_inexistentes)
else:
    print(f"Nenhum registro encontrado para o MUNICÍPIO {municipio_informado}.")

Informe o código do MUNICÍPIO:  8569

CNAE_FISCAL_PRINCIPAL inexistentes:
[6512000 5232000 3317101 6470101 3314716 4222701 7912100 2840200 2651500
 7119703 1830002 5250802 1531902 4685100 6621502 5911101 4292802 4618402
 3314718 7120100 4649404 6463800 6499901  133401 4649406 6612602 3317102
 1313800 5821200 8299703 4541202 1033301 2391502 5022002 6130200 6021700
 1413403 2422901  151203 7739002 2740602 3702900 4929903 9102302 3822000
 5912001 7729203 1812100 9102301 6440900 4623102 7410203  810003 2431800
 7740300 2099199 4634603 2945000 7320300 4641901 4635403 3104700 1629302
  119999 4391600 8640211 2610800 4647802 3299001 4669901 4649499 1033302
 4649410 6435201 2864000 5240199 3600602 5250801 8640203 6612601 2790299
 5912002 3292202 6630400 4212000 4221904 2731700 7210000 3312103 3314720
 2452100 3316301 6612605 3250705 8292000 9101500 5823900 2941700 2812700
 1352900  134200  724301 2319200 6550200 7410202 2621300 3211601 1741902
 4674500 4637106 3250701 6470102 2622100 3220500 6470103 2732500 3312104
 6541300 5012201  220906 2221800 6911702 5250804 7729299  321302 6436100
 4299501 2943300 1540800 4662100 7220700 2733300 1063500  230600 5021101
 1020102  710301 5310502 4679604 4645102 9529106 8730102 2071100 9900800
 6520100 8630506 2022300  311601 8533300 2591800  141502 2424502 9603301
 1411802 4623105 6201502 4644302 2790201 5231102 4651601 4221905 3314706
 8720401 4681805 2550101 2631100 3311200 5250805 4763605  152102 4664800
 9609205 1322700  910600 4789006  121101  111302 6911703 2790202 4641902
 8711504  162801  135100 3314704  113000 2813500 8640212 6542100 1830003
 4329105 2824102 3315500 8422100 3314703 3041500 3313902 2441502 3314713
 6492100 5239701 2865800  600001 1314600 2449101 8542200 4651602 3012100
  119906 2861500  155505 2930103 4637103 4912402 1732000 6450600 2670101
 2449199 2852600 5229001 2652300  139305 8690904  155504 1733800 3312102
 1830001 4633802 6530800 6612603  111399 1311100 5099801 1321900 6022501
 2710401 4679602 8012900 4311802  133410 2660400 1112700 3821100 5011401
  133499 3314709 2091600 8599602  119901 3530100 8640209 2014200 4643502
 1111902 2412100 2442300 3250709 8299704 3812200 2825900 5111100 2320600
 2449103 3250703 3513100 4511104 2122000 1742799 4623103 1122403 5021102
 2710403  899199 4542102 4684201 9001903 3329599 2592602 8711505 2121103
 4329102 2072000 4649405 5030101 2930101 4511105  210103 8640210  132600
  133407 3031800 8621602  990402 5239799  891600 4634602 2229302 4211102
 9603305 5120000  116499 4713005 4649407 2521700 1065101 3511502 3011302
 6499902 8423000 9603303 4911600  321303 3316302 2011800 3091101 3701100
 2211100 2710402 7319001 1122499 5091202 2910701  142300  724302 6141800
 3250707 5030102 2751100 4312600 5091201 6110899 2740601 4221901 3250704
  311604 6435202 7719501 2821601  155503 1811301 2013401 3314722 6110802
 1921700 2032100 2640000 2815102 2532202 8413200  133409  131800 1910100
 9603399 3299005 2051700 5022001 1340502 2942500 4681804 8630507  162802
 3011301 2033900 4929999 3520401  152101 4399102  139399 8299705 2814301
 1742702 8711503 1122402  133404 6433600 2311700 2851800 4940000 3292201
 1312000 1353700 1922502 2312500 2411300 6190602 4637102  725100 2021500
  810009 2019399 8621601  139304  500302 6120599 5112999 6432800 2863100
 2223400 2092401  810007 2012600  220999 1012103 6619305 4634699  990403
 3839401 3314717  119903 4621400  162803 2854200 2121102 1741901 6611801
 2822401 3314715 6611803 2092403 1099603 2341900 4912401 1113501 2421100
 2522500 3032600  710302 4649403  312401 6022502  322199  729404 5822102
 2040100 2349401 6143400 3240003  153902 1122404 3211603 2423702 6142600
 6424704 2342701 1922599 2073800  155502 2680900 3250702 6431000  899102
 6120502 2099101 7420005 8640214  152103 2944100 8421300 5011402  121102
  892401 2821602 4684202 2439300 3240002  321304 2330303 6424701  133405
 1323500 3900500 3314714 2399102 6611804  723501  311603 1082100 1722200
 6499905 2721000  210105  500301 4950700 2092402 4922103 8730101  322102
 5030103  729405 2832100 2759701 7719502 6424702 3042300  322107  990401
 4223500 6499903  112199 2930102 6434400 2866600 2670102  112101  899101
 1072401 9329802 1011203  311602 1932200 4623107  312404 6437900 4222702
  721901 9603302 7739001 2423701 3091102  153901  220901 2330304  892403
 2123800  220902 6611802  210199 3240001 3520402 4511106 2443100 2094100
  119905 1012102 2722802  119902 1220402 6499904 2910703  810010 5221400
  220905  139306 1922501 6438799 2814302 2853400 3314721 1043100  899103
  220904  810005 4912403  721902 6410700  210102 6438701  729403 5231103
  321301  722701 1032501 2422902 2019301 1099606 2824101 1081301  321305
  111303  892402  119907 1610205 2449102  210104 2910702 2815101 8690902
 6619301 1011202 5812300 4633803 8640213  170900  312403 4751200  600002
 1072402 6619304  159803 5130700  119904  600003  321399  220903  133403
  119909  133411  139303  119908  116401  116402 1011204  723502  722702
  139302 1012104 6435203 5012202  159804 1220403]

In [5]:
# Gerando um DataFrame:
df_camaqua = pd.DataFrame(cnaes_inexistentes)
df_camaqua

           0
0    6512000
1    5232000
2    3317101
3    6470101
4    3314716
..       ...
604  1012104
605  6435203
606  5012202
607   159804
608  1220403

[609 rows x 1 columns]

In [6]:
# Salvar a planilha em excel para conferência
df_camaqua = df_camaqua.to_csv('df_camaqua.csv', index=False)