In [1]:
import pandas as pd
df = pd.read_csv('df_final_cpa.csv')
df

,DATA_DE_INÍCIO_ATIVIDADE,CNAE_FISCAL_PRINCIPAL,CNAE_FISCAL_SECUNDÁRIA,MUNICÍPIO
0,2023,7319003,5819100,2457
1,2023,5611201,1032599,7097
2,2023,9001902,7729202,301
3,2023,5611203,5611204,7149
4,2023,9001902,5229099,391
...,...,...,...,...
51998540,1907,8513900,8599699,7107
51998541,1903,9430800,9499500,921
51998542,1903,9430800,9493600,921
51998543,1901,6912500,9609299,6645
51998544,1891,1321900,7490104,4675

In [2]:
# ANO1
# CRIANDO A COLUNA 'ANO1' COM O VALOR MAIS ANTIGO (MIN) DE ANO DE ABERTURA DE CNAE_FISCAL_PRINCIPAL POR MUNICÍPIO:
df['ANO1'] = df.groupby('MUNICÍPIO')['DATA_DE_INÍCIO_ATIVIDADE'].transform('min')
df = df.sort_values('ANO1')
df

,DATA_DE_INÍCIO_ATIVIDADE,CNAE_FISCAL_PRINCIPAL,CNAE_FISCAL_SECUNDÁRIA,MUNICÍPIO,ANO1
51998544,1891,1321900,7490104,4675,1891
21880183,2020,4712100,4789005,4675,1891
50408370,1994,4930202,4511102,4675,1891
50408371,1994,4930202,4930201,4675,1891
50408372,1994,4930202,5212500,4675,1891
...,...,...,...,...,...
6385051,2022,4729699,4721103,320,2002
31452899,2017,4530703,4923002,320,2002
31452898,2017,4530703,4782201,320,2002
11426571,2021,4712100,4721103,320,2002
11594648,2021,4731800,5611201,320,2002

In [3]:
# MATURIDADE_CP
# MATURIDADE_MUN
# Criando a variável maturidade para os CNAE_FISCAL_PRINCIPAL:

df['MATURIDADE_CP'] = df['DATA_DE_INÍCIO_ATIVIDADE'] - df['ANO1']

# Agrupar por município e encontrar o maior valor de maturidade em cada grupo para termos a MATURIDADE_MUN

maturidade_mun = df.groupby('MUNICÍPIO')['MATURIDADE_CP'].max()

# Converter a série em DataFrame
df_maior_maturidade = pd.DataFrame({'MUNICÍPIO': maturidade_mun.index,
                                    'MATURIDADE_MUN': maturidade_mun.values})

# Mesclar o DataFrame original com o DataFrame da menor maturidade
df = pd.merge(df, df_maior_maturidade, on='MUNICÍPIO', how='left')
df

,DATA_DE_INÍCIO_ATIVIDADE,CNAE_FISCAL_PRINCIPAL,CNAE_FISCAL_SECUNDÁRIA,MUNICÍPIO,ANO1,MATURIDADE_CP,MATURIDADE_MUN
0,1891,1321900,7490104,4675,1891,0,132
1,2020,4712100,4789005,4675,1891,129,132
2,1994,4930202,4511102,4675,1891,103,132
3,1994,4930202,4930201,4675,1891,103,132
4,1994,4930202,5212500,4675,1891,103,132
...,...,...,...,...,...,...,...
51998540,2022,4729699,4721103,320,2002,20,21
51998541,2017,4530703,4923002,320,2002,15,21
51998542,2017,4530703,4782201,320,2002,15,21
51998543,2021,4712100,4721103,320,2002,19,21
51998544,2021,4731800,5611201,320,2002,19,21

In [4]:
# Solicite ao usuário que forneça o valor do MUNICÍPIO
municipio_informado = input("Informe o código do MUNICÍPIO: ")

# Filtrar as linhas com o MUNICÍPIO '6001' e pegar a relação de CNAE_FISCAL_PRINCIPAL
cnaes_municipio_informado = df[df['MUNICÍPIO'] == int(municipio_informado)]['CNAE_FISCAL_PRINCIPAL']

# Verificar se existem registros para o código do MUNICÍPIO informado
if not cnaes_municipio_informado.empty:
    # Filtrar as linhas com a mesma MATURIDADE_MUN do código do MUNICÍPIO informado
    maturidade_municipio = df[df['MUNICÍPIO'] == int(municipio_informado)]['MATURIDADE_MUN']
    cnaes_mesma_maturidade = df[df['MATURIDADE_MUN'] == maturidade_municipio.iloc[0]]['CNAE_FISCAL_PRINCIPAL']

    # Subtrair 'cnaes_mesma_maturidade' de 'cnaes_municipio_informado' para encontrar os inexistentes
    cnaes_inexistentes = cnaes_mesma_maturidade[~cnaes_mesma_maturidade.isin(cnaes_municipio_informado)].unique()

    # Exibir os resultados
    # print("CNAE_FISCAL_PRINCIPAL do MUNICÍPIO '6001':")
    # print(cnaes_municipio_informado)

    # print("\nCNAE_FISCAL_PRINCIPAL com a mesma MATURIDADE_MUN:")
    # print(cnaes_mesma_maturidade)

    print("\nCNAE_FISCAL_PRINCIPAL inexistentes:")
    print(cnaes_inexistentes)
else:
    print(f"Nenhum registro encontrado para o MUNICÍPIO {municipio_informado}.")

Informe o código do MUNICÍPIO:  8569

CNAE_FISCAL_PRINCIPAL inexistentes:
[4649499 6920602 7119703 4221905 2319200  155505  162801 6463800 1412603
  132600 4645101 3314705 4541201 1069400 1411801 7729201 8533300 7210000
 8219901  155503  723501 3812200 7830200 2812700 2949299 6391700 8650005
 1413401 2733300 2219600 6550200 4923001  111302 4511103 2651500 4634602
 1121600 4647801 8424800 5914600 6450600 4671100 1623400 8520100 4530701
 2431800 4329104 7740300 4679604 5812302 2229301  152102 7820500 4635499
  159802 4929999 4530702 9529103 2840200 5911101 3702900  134200 2071100
  893200 8430200  119906 4729602 6201502 8640203 4669999 8621601 7912100
  119999 5231102  116499 4312600 6621502 3104700 4647802 4637199 5510802
  321304 8299701 4636201 4634603 2539002 1413403  724301 6630400 5912001
 1112700 3600601 3316301 7990200 3311200 2599301 4687701 4311801 4641902
  810002 4665600 8292000  133499 3250706 6499999 2852600 3250709 4635401
 4643501 2941700  139304 4922102 4674500 4662100 1340599 4221904  139399
  122900 4633802 2399101 1352900 1353700 4651601 4632001 4744005 4771703
 4511104 3240099 8299707 5250802 6110899 1922599 8690904 8220200 2599302
 4642702 4679601  121101 5250801 9529106 2861500 2341900  119909  141501
 4520008 2592602 5310502 7490101 2311700 8730199 3511501 4644301 2610800
 4222701  311601 9001901 3312102 7120100  113000 3291400 3250701 1521100
 2731700 4541204 4641901 4685100 8621602 3314713 4921302 5250804 1411802
 2790299 4929903 2832100 4789003 4689301  155502 1531902  119905 4299501
  810007 8690999 2660400 8592901 4621400  159801 6110801  119903 2740602
 4292802 4649410 3299001 3329599 5822101 5310501 7410202 4664800 1732000
 4649408 4618402 1012101 2229302 3821100 3250707 1413402 5821200 8030700
 8690901 4645102 2063100 4637106 8711504 1020101 6436100 8640212 8012900
 4399104 1811302 1830003 4520004 5920100 1052000 8599602 5911102 5222200
 2591800 2930103 1111902 3103900 4330401 3314706  322104 4681805 4669901
  230600 8622400  311604 2330303 7119799 3312103 8640209 1033301 8640210
 3313902 4646002 3600602 4391600 4679603 2031200 2710401 6141800 3314717
 2342702 5250803 5099801 3314709 1081302 2511000 8299703 8422100 1093701
 7410299 2823200 3314722 2521700 3314703 1629302 8599601 5590601  133402
 5091202 7420003 2452100 3250703 3211602 2099199 4679602 2815102 2592601
  141502 1122401 3240002 4789006  311602  210105 9002702 8640204 2621300
 2013402 1354500 2751100 2399199  910600 8730102 9003500 3511502 2631100
 5211701 4649407 4785701 4399105  810099 2866600 4221903 2854200 6911702
 7490102 2451200 7220700 4682600 3317102  142300 9412001 1742702  111399
 1020102 1741902 2014200 4649409 5021101 2019399 6022501  162803 4636202
 4922101 6619305  210101 4541202  311603 4637102  810004 1540800 2759701
 2824101 2342701 5250805 1742799 2062200 2930101 3220500  321305 7739002
 4635403 2421100 5823900 3314716 1033302 4329105  810001 4222702  151203
 2093200  990403 8720499 3314704 2221800 7729299 1064300 5240199 2821601
 4399102 2822402 1081301 9601702 9001903 4644302 7410203  155504 6021700
 3091102 6499902 2011800 8630506  312401 3240003 3250705 9411100 1122403
 8630507 3292202 5011401  899199 8412400 2441502 4649403 3822000  133410
 4639702 1812100 3315500 4651602 7420005 3314718 4291000 4637105 6629100
 6911701 9609202 2072000 2622100 6120599 4212000 5030101 2422901  133409
  810003 3512300 1042200 4689302 7719501 4940000 9102302 4211102 2864000
 9101500 4684201 6421200  152103 7729203 4637104  892401 2229303 4649404
 3211601 3314720  159899 1322700 6437900 2732500 6120502 1311100 8650007
 2424501 1733800 2863100 9492800 2813500 3314715  155501  321302 4623108
 6621501 2945000 4634699 3701100 1721400 4511106 4637103 6511101 9603303
  322107 9321200 4221901 2710402 9603399 7320300 8711503  153902 4950700
 2391501 2822401 5099899 3900500 1312000 4763605 1099601 1122402 2865800
 4649406 1323500 2944100 1012103 4511105 5232000 8720401 2320600 1065101
 2825900 6512000 4329102 2821602  154700 3316302 2513600 2943300 8542200
 2640000 2073800 1921700 8640213 2092403 2831300 2851800 2439300 2029100
 5240101 5120000 2710403 5111100 4649405 4929904 2123800 9603301 8711501
 2091600 1111901 5239799 4542102 6612604 7739001 5812300 6424702 3314721
 1051100 2790202 3513100 8711505 2330304 2110600 1122499 2022300  600001
 2449199 6612601 1340502 1063500 7319001 3250704 4643502 6438799  710301
 1013902 3012100 1742701 2532202 9103100  153901 1061902 3312104 8423000
 5112901  112199 2942500 2223400 4623105 2522500 9200399 2121103 8299705
 9001905 4311802 1220402 2550101 2814301  810008 5011402 4223500 2811900
 6130200 2122000 2013401 2424502 9603302 1811301  220999 2391502 2632900
 6612603 2032100 1032501 5912002 8299702 1011203 1330800 6541300 1621800
 2824102 6911703  210103 9609205 2040100 3292201 8550301 2790201 5229001
 4681801 1321900 5030102  133408  210199  131800 3839401  729404 8640211
 4618403 2051700 9001904 5913800 3299005 2815101 3031800 2012600 4623102
 6611804  119901  111303  899102 2399102  990401 2211100 3092000 6612605
  220906  891600 6492100 2441501  892403 6110802  133405 9102301 8730101
 2094100 6190602 3032600 4681804 5091201 8299704 2910701 2121102  322105
 6619301 1082100 2949201 6542100  810009 3317101 2910702  133404 7719502
 1532700 4911600 8413200 1043100 3520401 2531402 2920402 4684202 1099606
 2052500  133407 3314714]

In [5]:
# Gerando um DataFrame:
df_camaqua = pd.DataFrame(cnaes_inexistentes)
df_camaqua

           0
0    4649499
1    6920602
2    7119703
3    4221905
4    2319200
..       ...
646  4684202
647  1099606
648  2052500
649   133407
650  3314714

[651 rows x 1 columns]

In [6]:
# Salvar a planilha em excel para conferência
df_camaqua = df_camaqua.to_csv('df_camaqua.csv', index=False)